*{
    margin: 0;
    padding: 0 ;
    font-family: "Roboto",Sans-serif;
}

.header{
    
}
marquee{
    color: white;
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.navbar_top{
    background-color: #424242;
   
}
.navbar_body{
    background-color: #333;
    
    /* height: 85px; */
}
.navbar_body_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 15%;
    padding: 20px ;
}
.navbar_bottom{
    background-color: #111;
    
}
.list{
    list-style: none;
    display: flex;
}
.list_items{
    margin: 0 10px;
}
.list_items_icon{
    font-size: 20px;
    color: white;
}
.list_items_text{
    padding: 0 5px;
    color: white;
}
.navbar_bottom_menu{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
   

    
}
.menu_name{
    color: white;
    text-decoration: none;
    
}
/* -- */
.content{
    margin: 50px 0;
}
.content_title{
    text-align: center;
    font-size: 40px;
}
.produce_img{
    width: 80%;
    
}
.background{
   
    text-align: center;
}
.text_link{
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: #333;
}
.price{
    padding: 10px 0;
}
.footer{
    background-color: rgb(57, 51, 51);
    padding: 30px 0;
  
}
.footer_text{
    text-align: center;
    padding: 20px 0 ;
    color: white;
    font-size: 25px ;

}
.produce_img2{
    width: 60%;
}
.product_title{
    margin-top: 50px;
    margin-bottom: 15px;
}
.product_price{
    text-decoration: none;
}
del{
    color: #7a7a7a;
    font-size: 20px;
}
ins{
    text-decoration: none;
    margin-right: 12px;
    font-size: 20px;
}
.info_title{
    padding: 15px 0;
    border-top: 1px solid rgba(0,0,0,.05);
    border-bottom: 2px solid #ccc;
}
.info_text{
    margin-top: 30px;
}
.info_items{
    padding-left: 50px;
    line-height: 1.5;
}
.product_data{

}
.btn{
    margin-top: 15px;
    padding: 5px 10px;
    background-color: white;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #ccc;
}
.radio{
    margin-top: 15px;
    padding:15px;
    border-radius:50%;
    background-color: #aedfc2;
    border:2px solid blue;
    cursor: pointer;
}
.form{
    margin: 30px 0;
    /* text-align: center; */
    
}
.form_title{
    text-align: center;
    margin-bottom: 15px;
}
.form_input{
    padding: 10px 0px ;
    padding-left: 10px;
    margin-top: 10px;
    width: 90%;
    border-radius: 8px;
    border: 1px solid #ccc;

}
.input_btn{
    width: 90%;
}
.input_btn{
    text-align: center;
    padding: 10px 0px ;
    padding-left: 10px;
    margin-top: 10px;
    width: 90%;
    border-radius: 8px;
    border: 1px solid #ccc;
    cursor: pointer;
    color: white;
    background-color: blue;
}
.footer_title{
    color: white;
    font-weight: 200;
    padding-bottom: 20px;
    padding: 0 30px;
}
.footer_items{
    list-style: none;
    margin-bottom: 8px;
    padding: 0 30px;
}
.items_link{
    color: #ccc;
    font-size: 13px;
    text-decoration: none;
    font-weight: 100;
    
}
.items_list{
    line-height: 1.5;
}
.items_link:hover{
   text-decoration: underline;
}
.menu_items{
    position: relative;
    padding: 15px;
}
.menu2{
    position: absolute;
    
    background-color: white;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    margin-top: 15px;
    list-style: none;
    width: 160px;
    display: none;
    border-radius: 5px;
}
.menu2_item{
padding: 10px;
}
.menu2_link{
    text-decoration: none;
}
.menu_items:hover .menu2{
    display: block;
}