.header {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    border-bottom: 2px solid rgb(160, 16, 16);
    background-color: #8cccd3;
}

.header a {
    text-decoration: none;
    padding: 0 15px;
    font-family: var(--bs-font-sans-serif);
    font-size: 20px;
    font-weight: 500;
    color: rgb(181, 88, 103);
}

.login {
    margin: 10% auto;
    width: 30%;
    padding: 2%;
    box-shadow: 0 0 8px rgb(144, 150, 141);
}

.login__title {
    text-align: center;
    padding: 10px 0;
    font-size: 40px;
}

.login__icon {
    padding: 10px;
    font-size: 20px;
    height: 44px;
    align-items: center;
    background: aquamarine;
    color: #fff;
    box-shadow: 0 0 8px rgb(144, 150, 141);
}

.login__name {
    font-size: 15px;
}

.login__input {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    border-left: 3px solid aquamarine;
    box-shadow: 0 0 8px rgb(144, 150, 141);
}

.login__username,
.login__password {
    padding: 15px 0;
    display: flex;
}

.login__button {
    text-align: center;
    padding: 15px 0;
}

.login_btn {
    width: 40%;
    padding: 10px 0;
    border: 3px solid rgb(88, 211, 158);
    color: #fff;
    background-color: aquamarine;
}

.login_text {
    text-align: center;
}

.login_text-link {
    text-decoration: none;
}

.main {
    padding-top: 20px;
}

.row {
    padding: 10px 0;
}

.notifi-delete {
    text-align: center;
}

.delete-header {
    padding: 10px 0;
}

.bcl {
    background-color: purple;
    background-image: linear-gradient(purple, pink);
}

.title {
    font-size: 100px;
    height: 500px;
    line-height: 500px;
    color: #ccc;
}
.but{
    margin-bottom: 20px;
}