* {
  font-family: "Taviraj", serif;
  color: #333;
}

body {
  background-color: #f7f6f4;
}
.nav-item {
  position: relative;
}
.cart_number{
  position: absolute;
  top: -5px;
  right: 7px;
  color: #d84727;
}
.cus-menu-style {
  margin-top: 1em;
  margin-bottom: 3em;
}
.set_col{
  display: flex;
  flex-direction: row;
}
.set_margin{
  margin-left: 10px;
}
.cus-menu-item {
  color: #333 !important;
  font-size: 1.15rem;
  padding: 0 0.5em;
  letter-spacing: 0.03rem;
}
.is-form{
  font-weight: 600;
  
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #fff;
 
  background-color: #d84727;
  border-color: #dee2e6 #dee2e6 #fff;
}
.input-qty{
  margin:  0 10px;
  font-weight: 600;
  font-size: 20px;
}
.cus-card-icon {
  background-color: #f1ddc9;
  border-radius: 18px;
  color: #f1ddc9;
  stroke: #000;
  stroke-width: 30px;
}
.image-series{
  padding: 10px;

}
.slide_title{
  font-size: 3.8rem;
}
.slide_discover{
  font-weight: 600;
  border-bottom: 1px solid #333;
  width: 74px;
  font-size: 1rem;
  
}
.slide_btn{
  /* margin-top: 10px; */
  margin-bottom: 20px;
}
.bcg-image{
  background-color: #F1DDC9;
  text-align: center;
  border-radius: 5px;
}
.addtocart,.cicil{
  padding: 1rem 3rem ;
  margin-right: 10px;
}
.addtocart>i{
  color: #fff;
}
.slide_text{
  font-size: 1.2rem;
}
.cus-maxwith-100 {
  max-width: 100%;
}
.title_monthly{
  font-weight: 600;
  width: 220px;
  border-bottom: 2px solid #333;
}
.cus-slide {
  
  padding: 2rem;
  
 
}
.navbar-nav{
  
}
.products_monthly{
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 5px;
}
.products_monthly >img{
  width: 100%;
}
.products_monthly >h4{
margin-top: 20px;
font-weight: 600;

}
.carousel-inner{
  border-radius: 8px;
}
.cus-slide_img {
  /* position: absolute; */
 width: 100%;
}

.cus-section-2 {
  margin-top: 6em;
  margin-bottom: 6em;
}
.cus-image-slide{
  max-width: 100%;
}
.cus-section2-item {
  background-color: #fff;
  padding: 2em 0.5em 0 2em;
  height: 100%;
  border-radius: 8px;
}

.cus-section2-item p {
  color: #777;
}
.slide_link_discover{
  font-weight: 600;
  width: 100px;
  border-bottom: 1px solid #333;
}
.slide_discover_img{
  float: right;
}
.slide_watches_title{
 font-weight: 700;
 font-size: 50px;
}
.cus-section2-item a {
  text-decoration: none;
  color: #333;
}

.cus-section-3 {
  margin-top: 3em;
}
.slide_watch_box{
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

.cus-section3-item {
  background-color: #fff;
  padding: 2em 0.5em 0 2em;
}

.image-section-42 {
  width: 100px;
  height: 100px;
  position: relative;
  animation: imagemove 5s infinite;
  z-index: 1;
}

.image-section-w30 {
  width: 30em;
  height: 20em;
  position: relative;
  animation: imagemove 5s infinite;
  z-index: 1;
}

.image-section-w20 {
  width: 25em;
  height: 20em;
  position: relative;
  animation: imagemove 5s infinite;
  z-index: 1;
}

.cus-btnred {
  padding: 0.6rem 1.8rem;

}
.seemore{
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.line{
  width: 100%;
  height: 1px ;
  background-color: #ccc;
}
.cus-btnred-mini {
  background-color: #d84727;
  color: #fff;
  border: none;
}

.cus-write-mini {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #d84727;
}

.cus-divpink {
  background-color: #f1ddc9;
  width: 30em;
  height: 20em;
  position: absolute;
  right: 0;
  bottom: 4em;
}

.cus-divpink100 {
  background-color: #f1ddc9;
  width: 100px;
  height: 100px;
  position: absolute;
  right: 0;
  bottom: 4em;
}

.cus-relative {
  position: relative;
}

.cus-alinecentter {
  align-items: center;
  display: flex;
  justify-content: center;
}

.cus-alinecentter80 {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 80%;
}

.cus-section-2em {
  margin-top: 2em;
  margin-bottom: 2em;
}

.cus-img-100 {
  width: 100%;
  height: 100%;
}

.cus-img-100px {
  width: 100px;
  height: 100px;
}

.cus-colorda {
  background-color: #da5e42;
}

.cus-colord8 {
  background-color: #d84727;
}

.cus-color-write {
  color: #fff;
}

.cus-flexbetween {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.cus-button{
  display: flex;
  justify-content: space-between;

}

.cus-flexbetween>i{
  padding: 0.8rem 0.8rem;
  border: 1px solid #d84727;
  color: #d84727;
  margin: 0 0.4rem;
  margin-left: 0;
}
.btn-2{
  width: 80%;
  padding: 0.6rem 0;

}
.cus-line-text {
  /* text-decoration: line-through; */
  color: #d84727;
}
.products_monthly_price{
  font-weight: 600;
  margin-top: 5px;
}
.cus-item-hovers {
  display: none;
}

.cus-hove {
  display: inline;
  cursor: pointer;
}

.cus-hove:hover .cus-item-hovers {
  display: block;
  color: red;
}
/* detail */
.setbtn_img{
  position: relative;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 5px;
 
}
.btn-img{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  
}
.buttons_added{
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.plus{
   background: #D84727;
   color: #fff;
   outline: none;
  
}
.btn-addcart{
  background: #D84727;
  color: #fff;
  margin-left: 10px;
}
.btn-addcart >i{
  color: #fff;
}
.btn-addcart>i:hover{
color: #000;
}
.btn-cicil{
  background-color: #fff;
  margin-left: 10px;

}
.setcol{
  display: flex;
  flex-direction: column;
}
.breadcrumb-item{

text-decoration: none;
}
.navbar-tabs{
margin: 30px 0 100px 0;
}
.detail-title{
margin-top: 20px;
}
.detail-text{
margin-bottom: 20px;
}
.detaile-img{
text-align: center;
}
.card-text{
font-weight: 600;
font-size: 20px;


}
.set_bottom{
  margin-bottom: 30px;
}
.sale_off{
  position: absolute;
  padding: 5px 15px;
  background-color: #d84727;
  top: -15px;
  right: 15px;
  color: #fff;
}
.new{
  position: absolute;
  padding: 5px 15px;
  background-color: #01522D;
  top: -15px;
  right: 15px;
  color: #fff;
}
.card{
  height: 100%;
  cursor: pointer;
  
}


.set_textalign{
  display: flex;
  align-items: center;
}
.card-body{
  padding: 2rem 1rem;
}
.card-title{
text-align: center;
}
.card-heading{
margin-bottom: 30px;
border-bottom: 3px solid;
width: 300px;
}
.relate-products{
margin-bottom: 50px;
}
.modal-body{
border-bottom: 1px solid #ccc;
}
.modal-img{
background-color: #D84727;
text-align: center;
align-items: center;
height: 100%;
}
.modal-img img{
height: 100%;
}
.modal-content{
padding: 10px;
}
.select_pagaking{
display: flex;
flex-direction: column;
align-items: flex-end;
justify-content: flex-end;

}
.btn_cong{
background-color: #d84727;
color: #fff;
border: 1px solid #d84727;


}
.btn_trash i{
 color: #d84727;
}
.btn_trash{
  border: 1px solid #d84727;
}
.modal-foot{
margin-top: 15px;
width: 100%;
}.modal-btn{
width: 100%;
background-color: #d84727;
border: none;
padding: 5px;
color: #fff;
margin: 20px 0;
}
.setmodal_text{
display: flex;
justify-content: space-between;
align-items: center;
}
.select_total{
display: flex;
align-items: center;
justify-content: space-between;
}
.slide_image{
  text-align: center;
}
@media(max-width:500px) {
  .slide_btn{
    display: flex;
  }
  .addtocart{
    padding: 0px 15px;
  }
  .slide_title{
    font-size: 2rem;
  }
  .slide_text{
    font-size: 1rem;
  }
.detaile-img img{
  width: 60%;
}
.cus-image-slide{
  width: 70%;
}
.setmodal_text{
  font-size: 12px;
}
.select_total{
  margin-top: 10px;
  font-size: 12px;
   
}
.cus-slide{
  padding: 0;
}
.setcol{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;

}
.slide_watch_box{
  padding:0;
}
.slide_watches_title{
  font-size: 30px;
}
.cus-slide_img{
  width: 70%;
}
.slide_watch_box>img{
  width: 70%;
}

.btn-addcart{
  font-size: 14px;
}
}