* {
    margin: 0;
    padding: 0;
    font-family: "Fira Sans", sans-serif;
    font-size: inherit;
}
.main {
    background: linear-gradient(to right top, #58aec3, #ccdde4);
}
.intro {
    display: flex;
    align-items: center;
    margin: 5% 0;
    padding: 30px;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));

    border-radius: 20px;
}
.intro_info {
    display: flex;
    border-right: 2px solid #ccc;
}
.intro_avarta-img {
    height: 160px;
    width: 160px;
    object-fit: cover;
    border-radius: 20px;
    margin-right: 20px;
    box-shadow: 0px 4px 7px rgb(0 0 0 / 45%);
}
.intro_items {
    display: flex;
    align-items: center;
    margin-top: 40px;
    padding-left: 0;
}
.intro_list {
    margin: 0 8px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0px 4px 7px rgb(0 0 0 / 45%);
}
.intro_icons {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: block;
    text-align: center;
    line-height: 40px;
}
.intro_link {
    border-radius: 50%;
}
.intro_icons > i {
    font-size: 18px;
    color: black;
}
.intro_contact {
    display: flex;
    padding-left: 30px;
}
.intro_contact_item {
    margin-bottom: 20px;
}
.intro_contact_list {
    list-style: none;
}
.intro_contact_title {
    display: block;
    text-transform: uppercase;
    color: rgb(148, 146, 146);
    font-size: 14px;
    font-weight: 500;
}
/*  */
.options {
    border-radius: 30px;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    position: sticky;
    /* top: 0; */
}
.option {
    padding: 40px;
    list-style: none;
}
.option_item_active {
    background-image: linear-gradient(142.17deg, #4f93f1 6.66%, #de30fd 91.48%);
    text-align: center;
    padding: 20px 0;
    border-radius: 10px;
    margin-bottom: 20px;
}
.option_item {
    text-align: center;
    padding: 20px 0;
    /* border-radius: 10px; */
    background-color: rgba(235, 240, 243, 0.8) !important ;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px !important;
    color: #333;
}
.option_item:hover {
    background-image: linear-gradient(142.17deg, rgba(79, 147, 241, 0.3) 6.66%, rgba(222, 48, 253, 0.3) 91.48%);
}

.option_item > i {
    color: #5b33a4;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background-image: linear-gradient(142.17deg, #4f93f1 6.66%, #de30fd 91.48%);
}
.option_item > i {
    font-size: 35px;
    margin-bottom: 10px;
    opacity: 0.7;
}
.option_item_active > i {
    font-size: 50px;
    margin-bottom: 10px;
    opacity: 0.7;
}
/*  */
.extend {
    padding: 40px;
    border-radius: 30px;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
}
.extend_items {
    margin-bottom: 40px;
}

.extend_text-content {
    margin-top: 20px;
}
.extend_active {
    list-style: none;
}
.stylebottom {
    /* border-bottom: 5px solid #cc2dc4; */
    background-image: linear-gradient(142.17deg, #cc2dc4 6.66%, #cead1c 91.48%);
    border-radius: 5px;
    height: 5px;
    width: 100px;
    margin-bottom: 10px;
}
.extend_items_header {
    margin-bottom: 0;
    padding-bottom: 5px;
}
.extend_items_text-title {
    margin-bottom: 10px;
    position: relative;
}
.extend_text-content > h2 {
    margin-bottom: 20px;
}
.container-skills {
    padding: 30px;
    border: 2px solid #ebf0f2;
    border-radius: 20px;
}
.style_progress {
    height: 25px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.skils-section {
    margin-top: 20px;
}
.progress-text > p,
.progress-text > span {
    margin: 0;
    margin: 0 10px;
    font-size: 15px;
}
.progress-text {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: all 0.4s linear 0s;
}
.extend-item-body {
    position: relative;
}
.extend-item-body::before {
    content: "";
    background-color: rgba(197, 197, 197, 0.8);
    height: 150px;
    width: 0.6px;
    position: absolute;
    left: -21px;
    top: 4px;
}
.extend_items_text-title::before {
    content: "";
    background-color: #304cfd;
    box-shadow: 0 0 0 0.1875rem rgb(48 76 253 / 25%);
    border-radius: 50%;
    position: absolute;
    top: 28%;
    left: -25px;
    height: 0.625rem;
    width: 0.625rem;
}
.style_content {
    background-image: linear-gradient(142.17deg, #cc2daa 6.66%, #1cce75 91.48%);
    height: 4px;
    width: 50px;
    margin-bottom: 20px;
}
.game-img > img {
    width: 170px;
    object-fit: cover;
    border-radius: 10px;
    height: 100px;
}
.backgr_game {
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    display: flex;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 7px rgb(0 0 0 / 45%);
}
.backgr_game:hover {
    transform: scale(1.01);
    transition: 0.2s all;
}
.link_fo4 {
    text-decoration: none;
}
.style_margin {
    margin-left: 20px;
}
.game_text {
    color: #333;
}
@media (max-width: 768px) {
    .intro,
    .intro_info,
    .intro_contact {
        flex-direction: column;
    }
    .intro {
        margin-top: 25%;
        padding-bottom: 0;
    }
    .intro_info {
        border-right: 0;
        text-align: center;
        margin: -30% 0;
    }
    .intro_avarta {
        text-align: center;
    }
    .intro_avarta-img {
        margin-right: 0;
    }
    .intro_name {
        margin-top: 20px;
    }
    .intro_contact_list,
    .intro_contact {
        padding: 0;
    }
    .options {
        position: fixed;
        bottom: 0;
        z-index: 10;
        border-radius: 0;
        left: 0;
        width: 100%;
    }
    .extend_active {
        padding: 0;
    }
    .flex-mobile {
        flex-direction: row !important;
        justify-content: center;
    }
    .options {
        background-color: #ccc;
    }
    .option_item {
        margin-bottom: 0;
        font-size: 12px;
        padding: 5px 10px;
        margin: 0 5px 0;
        width: 22%;
    }
    .intro_avarta-img {
        width: 140px;
        height: 140px;
    }
    .option_item > i {
        font-size: 20px;
    }
    .option {
        padding: 12px 10px;
    }
    .intro_items {
        margin-top: 0;
    }
    .intro_contact {
        margin-top: 35%;
    }
    .intro_contact_item {
        margin-bottom: 10px;
    }
    .game-img > img {
        width: 129px;
        height: 81px;
    }
    .game_text > span {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 4;
    }
}
