*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
.header{
    background-color: #0396a6;
   
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_logo{
padding: 15px;
}
.header_logo>a{
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    color: white;
}
.header_menu_list{
    list-style: none;
    display: flex;
}
.header_menu_item>a{
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    color: white;
    font-weight: 500;
}
.header_icon>a{
    text-decoration: none;
    font-size: 25px;
    margin: 0 10px;
}
.header_icon>a>i{
    
    color: white;
}
/* -------- */
.slider{
    padding-top: 13%;
    height: 500px;
    position: relative;
    background: url(img/backgroud.jpg) top center / cover no-repeat;
}
.section_heading{
    padding: 25px 0;
    display: inline-flex;
    width: 100%;
    justify-content: center;
}
.letter{
    display: inline-flex;
    align-items: center;
    height: 50px;
    font-size: 35px;
    color: white;
    padding: 2px 10px;
    margin: 0 2px;
    background-color: rgb(255,237,204);
    border-radius: 5px;
}
.items{
    box-shadow: 0 0 8px rgb(122 120 120 / 30%);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
}
.items>a>img{
    width: 100%;
}
.items_content{
    padding: 0 20px 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.items_title{
    font-size: 20px;
    padding: 30px 0;
    font-weight: 600;
}
.items_title>a{
    text-decoration: none;
}
.details{
    
}
.blog-heading{
    position: relative;
}
.blog-title{
    position: absolute;
    top: 25%;
    left: 50%;
    color: #fff;
    font-size: 35px;
    font-weight: 900;
    text-align: center;
    line-height: 1;
    transform: translate(-50%,-50%);
}
.details_img{
    padding: 30px;
    background-color: #fff;
}
.details_text{
    padding: 0 30px;
    padding-bottom: 40px;
}
.details_title{
    padding: 10px;
    font-size: 30px;
}
.book_heading1{
    background-color: #0396a6;
    text-align: center;
}
.book_heading1 h3 {
    padding: 10px 0;
    margin: 0;
    color: #fff;
}
.mumbai_img {
    box-shadow: 0 0 10px #ccc;
}
.panel-body {
    font-size: 15px;
    padding: 20px;
    box-shadow: 0 0 20px rgb(122 120 120 / 30%);
}
.sign {
    margin-top: 0;
    margin-bottom: 1rem;
}
.panel-footer {
    background: #ffc10e;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    border: 0;
    padding: 5px;
}
.panel-footer>a{
    text-decoration: none;
    color: white;
}
a{
    text-decoration: none;
}
.details_p {
    font-size: 17px;
    margin: 10px 0;
    color: var(--grey-text);
    flex: 1;
    padding: 10px;
    line-height: 1.4;
    padding-bottom: 30px;
}
.package__item-price {
    
    display: flex;
}
.package__item-price3 {
    font-size: 30px;
    width: 100%;
    color: red;
    line-height: 43px;

}
.package__item-price3 >i{
    color: black;
    padding-right: 5px ;
}
.button {
    display: inline-flex;
    padding: 8px 30px;
    font-size: 17px;
    height: 43px;
    align-items: center;
    background-color: #ffc10e;
    color: white;
    border: 2px solid var(--primary-color);
}