/* MÀN HÌNH DESKTOP, TABLET XOAY NGANG */
@media screen and (min-width: 1200px) {
    .menu-list-link {
        padding: 20px;
    }
}
@media screen and (max-width: 1200px) {
    .menu {
        display: none;
    }
    .descrip-mobile {
        display: block;
    }
    .design_mobile {
        padding-top: 65px;
    }
    .view-all {
        text-align: center;
        display: block;
        padding: 10px;
        color: #2997ff !important;

        font-size: 16px;
        width: fit-content;
        margin: auto;
        margin-bottom: 40px;
    }
    .search-sp {
        display: none;
    }
    .menu-list-link {
        padding: 8px;
        font-size: 12px;
        color: #545454 !important;
    }
    /* .menu-mobile {
        display: block;
    } */
    .menu-mobile {
        display: flex;
        padding-left: 0;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        margin-bottom: 0;
    }
    .elmentor-menu-text {
        padding-left: 20px;
    }
    .cart_close {
        padding: 15px;
    }
    .elementor_btn_link button {
        padding: 10px;
    }
    .nav-mobile {
        display: block;
    }
    .search-cart {
        display: flex;
        align-items: center;
    }
    .topzone-logo {
        padding: 10px;
    }
    .menu_cart {
        box-shadow: 0 0 20px rgb(0 0 0 / 20%);
        background-color: #fff;
        height: 100vh;
        position: absolute;
        right: 0;
        top: 65px;
        width: 40%;
        padding: 10px;

        transition: all 0.5s ease-in-out;
    }
}
@media screen and (max-width: 768px) {
    .set_mobile {
        display: none;
    }
    .set-desktop {
        display: revert;
    }
    .empty_img img {
        width: 60%;
    }
    .gototop {
        display: none !important;
    }
    .set-height-mobile {
        float: right;
    }
    .main-cart {
        padding-top: 65px;
    }
    .search-sp {
        display: none;
    }
    .menu-list-link,
    .active1 {
        padding: 8px;
        font-size: 12px;
        color: #1d1d1f !important;
        background-color: #fff;
    }
    .nav-mobile i {
        font-size: 20px;
    }
}

/* MÀN HÌNH MOBILE XOAY NGANG , MÀN HÌNH TABLET DỌC */

/* Mobile xoay dọc */
@media screen and (max-width: 480px) {
    .gototop {
        display: none !important;
    }
    .search-sp {
        display: none;
    }
    .menu_cart {
        box-shadow: 0 0 20px rgb(0 0 0 / 20%);
        background-color: #fff;
        height: 100vh;
        position: absolute;
        right: 0;
        top: 61.5px;
        width: 100%;
        padding: 10px;
        /* display: none; */
        transition: all 0.5s ease-in-out;
    }

    .elementor-menu-text-name span {
        font-size: 14px;
    }
    .elementor_btn_link button {
        padding: 10px;
    }
    .menu-mobile {
        display: flex;
        padding-left: 0;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        margin-bottom: 0;
    }
    .title-home-link,
    .title-home-link-active {
        font-size: 12px;
    }
    .size-in {
        height: 30px !important;
        width: 30px !important;
    }
    .design_mobile {
        padding-top: 61.5px;
    }
    .element-fit {
        margin-bottom: 15px;
        padding: 16px 20px;
    }
    .element-link-text {
        font-size: 18px;
        font-weight: bold;
    }
    .element-fit-info {
        padding-left: 10px;
    }
    .element-details {
        padding: 10px 20px;
    }
    .element-widget {
        padding-bottom: 10px;
    }
    .element-title {
        font-size: 18px;
    }
    .register-info h2 {
        font-size: 18px;
    }
    .register-info span {
        font-size: 14px;
    }
    .register-email input {
        width: 65%;
    }
    .register-email button {
        width: 25%;
    }
    .cus-desktop {
        display: none;
    }
    .cus-mobile {
        display: block;
    }
    .product {
        padding: 30px 15px;
        margin-bottom: 20px;
    }
    .box-p {
        padding: 0;
    }
    .price-old,
    .price,
    .title-price {
        font-size: 13px;
    }
    .info-juridical {
        padding-left: 30px;
        padding-right: 30px;
    }
    .form-check {
        margin-right: 10px;
    }
    .info-title {
        margin-left: 0;
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 8px;
        height: 36px;
        color: #545454;
        /* text-align: center; */
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        padding: 0;
        text-overflow: ellipsis;
    }

    .main {
        padding-top: 0;
    }
}
/*  */
@media screen and (max-width: 451px) {
    .gototop {
        display: none !important;
    }
    .menu {
        display: none;
    }
    .cart-item-title span:nth-child(1),
    .cart-item-title p {
        font-size: 14px;
    }
    .menu-mobile {
        display: flex;
        padding-left: 0;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        margin-bottom: 0;
    }
    .nav-mobile {
        display: block;
    }
    .set-desktop {
        display: revert;
    }
    .cart_sl {
        top: -5px;
        left: 50%;
        height: 18px;
        width: 18px;
    }
    .set-height-mobile {
        float: right;
    }
    .item-compare span {
        font-size: 12px;
        padding: 8px 5px;
    }
    .nav-link {
        display: inline !important;
    }
    .menu-list-link,
    .active1 {
        padding: 8px;
        font-size: 12px;
        color: #1d1d1f !important;
        background-color: #fff;
    }
    .head {
        padding: 5px 0;
    }
    .topzone-logo img {
        width: 70%;
    }
    .topzone-logo {
        text-align: center;
    }
    .search-sp i {
        font-size: 15px;
        margin-right: 10px;
    }
    .cart i {
        font-size: 15px;
    }
    .ft-care {
        display: block;
        white-space: nowrap;
        overflow: scroll;
        padding: 20px 20px 20px 0;
    }
    .order-now {
        display: block;
    }
    .order-button,
    .order-button2 {
        width: 100%;
    }
    th {
        font-size: 12px;
    }
    .cart i {
        font-size: 25px;
    }
    .set_mobile {
        display: none;
    }
    .set_text_mobile {
        font-size: 13px;
    }
    #change-color-price {
        font-size: 24px;
    }
    .coupon-cart {
        display: none;
    }
    .coupon-start,
    .coupon-end {
        width: 100%;
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 575px) {
    .intro-title {
        font-size: 20px;
    }
    .search-cart {
        line-height: 40px;
    }

    .ft-cate-list {
        padding: 0;
        margin-right: 0;
    }
    .ft-cate-link {
        font-size: 10px;
        padding: 8px;
    }

    .office {
        display: block;
        text-align: center;
    }
    .certify {
        justify-content: space-between;
    }
    .certify > a > img {
        width: 100px !important;
    }

    .intro-detail {
        margin-top: 20px;
    }
    .carousel-inner {
        border-radius: 8px;
    }
}
@media (min-width: 992px) {
}
